.velocityContainer {
  width: 5em;
  text-align: center;

  input {
    width: 1.8em;
    padding: .2em 0;
    height: 1.5em;
  }
  &.has-tooltip-bottom::before {
    width: 11em;
    white-space: normal !important;
  }
}
