.Kit {
  margin: 1em .5em 0 0; }

.kitHeader {
  margin: 1em 0 .7em 0 !important; }

input.kitName {
  max-width: 20em; }

.pad-table .table {
  margin-bottom: 0; }

.pad-table .table th {
  padding: .25em .25em; }

.pad-table .table td {
  padding: 0; }

.col-note {
  width: 70px; }

.col-file {
  width: 200px; }

.col-velocity {
  width: 150px;
  white-space: nowrap; }
  .col-velocity input {
    width: 40%; }

.col-tune {
  width: 70px; }

.col-sensitivity {
  width: 100px; }

.col-pan {
  width: 70px; }

.col-reverb {
  width: 70px; }

.col-level {
  width: 70px; }

.col-mode {
  width: 100px; }

.col-mute-group {
  width: 100px;
  white-space: nowrap; }

.sampleDrop {
  position: relative;
  width: 100%;
  height: 100%; }

.sampleDropHighlight {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  zIndex: 1;
  opacity: 0.5; }
