.kit {
  margin: .8em 0 0 0; }

.kitHeader {
  margin: 1em 0 .7em 0 !important; }

.panel-block.sample {
  border-radius: 6px;
  padding: .2em .5em; }

.pad-table {
  max-height: 27.5em;
  overflow-y: scroll;
  padding-right: 1em; }

.dataIcon {
  width: 1.5em;
  text-align: center; }

.modeIcon {
  width: 3em;
  text-align: left; }

.velocityIcon {
  width: 5em;
  text-align: center; }

.levelIcon {
  width: 2.3em;
  padding-left: .2em;
  text-align: left; }

.overlapIcon {
  width: 1.5em;
  height: 1.5em;
  text-align: left; }
  .overlapIcon .overlapContainer div {
    position: absolute;
    left: .2em; }
    .overlapIcon .overlapContainer div .glyphicon.overlapValue {
      overflow: hidden;
      top: 2px; }

.mgrpIcon {
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  text-align: center; }

.sampleDrop {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: .24em; }

.sampleDropHighlight {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.5; }
